<div class="flex justify-center h-screen items-center overflow-hidden">

    <div class="container">
<div class="cover" [ngClass]="{'rotate-active':isRegister}">

<div class="front">
<img src="https://m.media-amazon.com/images/I/41Z1t8P-1iL.jpg" alt="">

<div class="text">
    <span class="text-1">Share,Savour,and Create: Your Reciepe Haven Awaits!</span>
    <span>Let's get connected</span>
</div>
</div>
<div class="back">
<img src="https://media.istockphoto.com/id/1415503991/photo/vegan-food-themes-close-up-of-a-hispanic-cute-young-woman-eating-fruit-salad-at-lunch-outdoors.jpg?s=612x612&w=0&k=20&c=1TmhiMTOQTGuEQF-y2_sJTwnqUu5jIRwvAeSD-4JCFQ=" alt="">
</div>
</div>
<div class="form h-full">
<div class="form-content h-full">

<div class="login-form">
<h1 class="text-lg font-bold text-center pb-8">Signup</h1>
<form 
[formGroup]="registrationForm"
(ngSubmit)="handleRegister()" >
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Full Name</mat-label>
            <input matInput placeholder="Full Name....." formControlName="fullName" class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"/>
          </mat-form-field>
    </div>
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Email</mat-label>
            <input matInput placeholder="Email....." formControlName="email" class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"/>
          </mat-form-field>
    </div>
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"/>
          </mat-form-field>
    </div>
    <div>
        <button class="w-full" mat-raised-button color="primary" type="submit">Register</button>
    </div>
</form>
<div class="flex items-center gap-2 justify-center mt-9">
    Already have account?<button (click)="togglePanel()" mat-button color="primary">Login</button>
    
</div>

</div>
<div class="signup-form">
    <h1 class="text-lg font-bold text-center pb-8">Login</h1>
    <form 
    [formGroup]="loginForm"
    (ngSubmit)="handleLogin()" >
        <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-200">Email</mat-label>
                <input matInput placeholder="Email....." formControlName="email" class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
              </mat-form-field>
        </div>
        <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-200">Password</mat-label>
                <input matInput placeholder="Password" formControlName="password" class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
              </mat-form-field>
        </div>
        <div>
            <button class="w-full" mat-raised-button color="primary" type="submit">Login</button>
        </div>
    </form>
    
    <div class="flex items-center gap-2 justify-center mt-9">
        Don't have account?<button (click)="togglePanel()" mat-button color="primary">SignUp</button>
    </div>
    </div>
</div>
</div>
    </div>
</div>
